.marcadores{
    padding: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    background: #ddd;
    cursor: pointer;
}

.operadores{
    background-color: rgb(183, 195, 53);
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}